* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  .approve {
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    /* right: -165px;
    top: -455px;
    width: 409px;
    height: 487px; */
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .table-container {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 0px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    text-align: center;
  }
  
 